<table border="1">
	<tr>
		<td colspan="3"> 
			<h3> Your all History </h3>
		</td>
	</tr>
	<tr>
		<th> Date </th><th> In Time </th><th> Out Time </th>
	</tr>
	<% @histories.each do |history| %>
		<tr>
			<td>
				<%= history.date %>
			</td>
			<td>
				<%= change_time(history.in_time) unless history.in_time.nil? %>
			</td>
			<td>
				<%= change_time(history.out_time) unless history.out_time.nil? %>
			</td>
		</tr>
	<% end %>
	<tr>
		<td colspan="3"> <%= link_to "back to home " , members_home_path %></td>
	</tr>

</table>
